WpfClient/WpfClient/WpfClient/Connected Services/ServiceReferenceUFC/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="CountryList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryList" nillable="true" type="tns:CountryList" />
  <xs:complexType name="Country">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="DivisionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Division" nillable="true" type="tns:Division" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisionList" nillable="true" type="tns:DivisionList" />
  <xs:complexType name="Division">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Maxweight" type="xs:int" />
          <xs:element minOccurs="0" name="Minweight" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Division" nillable="true" type="tns:Division" />
  <xs:complexType name="FighterList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fighter" nillable="true" type="tns:Fighter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FighterList" nillable="true" type="tns:FighterList" />
  <xs:complexType name="Fighter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
          <xs:element minOccurs="0" name="Disqualifications" type="xs:int" />
          <xs:element minOccurs="0" name="Division" nillable="true" type="tns:Division" />
          <xs:element minOccurs="0" name="FightTimeAvg" type="xs:int" />
          <xs:element minOccurs="0" name="FightingStyle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Height" type="xs:int" />
          <xs:element minOccurs="0" name="KnockdownAvg" type="xs:int" />
          <xs:element minOccurs="0" name="Losses" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reach" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesAbsorbedPerMin" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesAttempted" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesBody" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesClinch" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesDefence" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesGround" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesHead" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesLandedPerMin" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesLandedTotal" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesLeg" type="xs:int" />
          <xs:element minOccurs="0" name="SigStrikesStanding" type="xs:int" />
          <xs:element minOccurs="0" name="SubmissionAvgPer15Min" type="xs:int" />
          <xs:element minOccurs="0" name="TakedownAttempted" type="xs:int" />
          <xs:element minOccurs="0" name="TakedownAvgPer15Min" type="xs:int" />
          <xs:element minOccurs="0" name="TakedownDefence" type="xs:int" />
          <xs:element minOccurs="0" name="TakedownLanded" type="xs:int" />
          <xs:element minOccurs="0" name="WinByDecision" type="xs:int" />
          <xs:element minOccurs="0" name="WinByKnockout" type="xs:int" />
          <xs:element minOccurs="0" name="WinBySubmission" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fighter" nillable="true" type="tns:Fighter" />
</xs:schema>